<form id="rtcl-property-form" class="form-horizontal" autocomplete="nope" (submit)="onSubmitDetails()">
  <div class="row">
    <div class="form-group col-3" [ngClass]="{'with-error': submitted && !propertyForm.spaceType}">
      <label class="control-label">
        Space Type <strong class="rtcl-required">*</strong>
      </label>
      <ng-select [(ngModel)]="propertyForm.spaceType" name="spaceType" [items]="spaceTypeList" bindValue="id" bindLabel="name" [multiple]="false" [searchable]="false" [clearable]="false"></ng-select>
      <div class="error" *ngIf="submitted && !propertyForm.spaceType">{{ERROR_MESSAGES.FIELD_REQUIRED}}</div>
    </div>
    <div class="form-group col-3" [ngClass]="{'with-error': submitted && !propertyForm.space}">
      <label class="control-label">
        Space <strong class="rtcl-required">*</strong>
      </label>
      <ng-select [(ngModel)]="propertyForm.space" name="space" [items]="spaceList" bindValue="id" bindLabel="name" [multiple]="false" [clearable]="false"></ng-select>
      <div class="error" *ngIf="submitted && !propertyForm.space">{{ERROR_MESSAGES.FIELD_REQUIRED}}</div>
    </div>
    <div class="form-group col-3" [ngClass]="{'with-error': submitted && !propertyForm.sizeWidth}">
      <label class="control-label">
        Space Size (Width) <strong class="rtcl-required">*</strong>
      </label>
      <input type="text" name="sizeWidth" class="form-control" [(ngModel)]="propertyForm.sizeWidth" />
      <div class="error" *ngIf="submitted && !propertyForm.sizeWidth">{{ERROR_MESSAGES.FIELD_REQUIRED}}</div>
    </div>
    <div class="form-group col-3" [ngClass]="{'with-error': submitted && !propertyForm.sizeHeight}">
      <label class="control-label">
        Space Size (Height) <strong class="rtcl-required">*</strong>
      </label>
      <input type="text" name="sizeHeight" class="form-control" [(ngModel)]="propertyForm.sizeHeight" />
      <div class="error" *ngIf="submitted && !propertyForm.sizeHeight">{{ERROR_MESSAGES.FIELD_REQUIRED}}</div>
    </div>
  </div>
  <div class="row">
    <!-- <div class="form-group col-3" *ngIf="propertyForm.spaceType === 'Digital'" [ngClass]="{'with-error': submitted && !propertyForm.adShowPerTime}"> -->
    <div class="form-group col-3" [ngClass]="{'with-error': submitted && errors.adShowPerTime}">
      <label class="control-label">
        How long will ad show per time? <strong class="rtcl-required">*</strong>
      </label>
      <input type="text" name="adShowPerTime" class="form-control" [(ngModel)]="propertyForm.adShowPerTime" />
      <div class="error" *ngIf="submitted && errors.adShowPerTime">{{ERROR_MESSAGES.FIELD_REQUIRED}}</div>
    </div>
    <div class="form-group col-3" [ngClass]="{'with-error': submitted && !propertyForm.rentPrice}">
      <label class="control-label">
        Rent Price <strong class="rtcl-required">*</strong>
      </label>
      <ng-select [(ngModel)]="propertyForm.rentPrice" name="rentPrice" [items]="rentPriceList" bindValue="id" bindLabel="name" [multiple]="false" [searchable]="false" [clearable]="false"></ng-select>
      <div class="error" *ngIf="submitted && !propertyForm.rentPrice">{{ERROR_MESSAGES.FIELD_REQUIRED}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <input id="includePrintInstall" class="checkbox-custom" name="includePrintInstall" type="checkbox"
          [(ngModel)]="propertyForm.includePrintInstall" />
        <label for="includePrintInstall" class="checkbox-custom-label no-select">Including print and install?</label>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <input id="traffic" class="checkbox-custom" name="traffic" type="checkbox"
          [(ngModel)]="propertyForm.traffic" />
        <label for="traffic" class="checkbox-custom-label no-select">Traffic?</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 form-group" *ngIf="propertyForm.traffic" [ngClass]="{'with-error': submitted && errors.viewersPerDay}">
      <label class="control-label">
        How many viewers per day?
      </label>
      <input type="text" name="viewersPerDay" class="form-control" [(ngModel)]="propertyForm.viewersPerDay" />
      <div class="error" *ngIf="submitted && errors.viewersPerDay">{{ERROR_MESSAGES.FIELD_REQUIRED}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group d-flex align-items-center justify-content-end">
        <button type="button" name="rtcl-general-prev" class="btn btn-primary outline mr-2" (click)="onPreviousPage()" [disabled]="submitLoading">
          Previous
        </button>
        <button type="submit" name="rtcl-general-next" class="btn btn-primary" [disabled]="submitLoading">
          <i class="fa fa-circle-notch fa-spin" *ngIf="submitLoading"></i>
          Next
        </button>
      </div>
    </div>
  </div>
</form>