<div *ngIf="loader">
  <div style="margin-left:25%">
  </div>
</div>
<form action="" [formGroup]="bookingForm" *ngIf="!loader">
  <div class="body">
    <div class="container py-5 ">
      <div class="row">
        <div class="col ">
        </div>
      </div>

      <div class="row">
        <div class=" card shadow-lg">
          <h2 class="card-header cart  ">Booking Details </h2>
          <div class="card-body">
            <!-- 
            <h3 class="my-1"><b>Clinic name: </b> {{this.vendorsdata[0]?.name}}</h3>
             <p class="text-muted mb-4">mobile no: {{this.vendorsdata[0]?.mobile}}
                      <br> location:{{this.vendorsdata[0]?.location}}</p> 
                      <h3 class="my-1"><b>Service name: </b>{{this.offerservice[0]?.service_name}}</h3>
-->

          </div>
          <div class="border ">
            <h2 style="margin: 20px;">Total Price: $ 2</h2>
            <h2 style="margin: 20px;">Service: 2</h2>

          </div>
        </div>
      </div>
      <!--
      <h2 class="mt-3 ">Opening hours </h2>
      <div style="border: solid lightgray; " class="card">

        <table width="100%" style="margin: 3%;">
          <tr>
            <th>Day</th>
            <th>Start Time</th>
            <th>End Time</th>
          </tr>
          <tr *ngFor="let time of time">
            <td>{{time.day}}</td>
            <td>{{time.starttime}}</td>
            <td>{{time.endtime}}</td>
          </tr>
        </table>

      </div>
-->

      <div class="card" style="border: solid lightgray;  margin-top: 4%;padding-right:10px;">
        <div class="below-box" style="display: flex; justify-content: space-between;">
          <div class="pl-5" style="padding-left: 5%;">
            <p style="color: grey; margin-top: 10%;">Pet Info</p>
            <h4 class="my-1">Pet Type: {{this.selectedData.pet_name}}</h4>
          </div>
          <!--
          <div style="margin-left: 20%;">
            <p style="color: grey; margin-top: 5%;">Vendor details</p>
            <h4 class="my-1">Vendor name: {{this.vendorsdata[0]?.name}}</h4>
            <h4>Mobile no: {{this.vendorsdata[0]?.mobile}}
              <br> Location: {{this.vendorsdata[0]?.address}}
            </h4>
          </div>
        -->
        </div>
      </div>
      <h1 class="mt-5 ">Booking information</h1>
      <div class="col-md-6 mb-5" style="border: solid lightgray;">
        <div class="form-row " style="display: flex; justify-content: space-between;">
          <div class="form-group col-md-5 m-4">
            <label required for="input">First name<span class="required-field">*</span>
              <input required="true" for="input" type="text" class="form-control" id="input"
                formControlName="First_name" placeholder="First name">
            </label>
          </div>

          <div class="form-group col-md-5 m-4">
            <label for="inputPassword4">Last Name<span class="required-field">*</span>
              <input required type="text" class="form-control" id="inputPassword4" formControlName="Last_name"
                placeholder="last name">
            </label>
          </div>
        </div>
        <div class="form-group m-4">
          <label for="inputAddress">Best number<span class="required-field">*</span> </label>
          <input type="text" class="form-control" formControlName="Number" id="inputAddress"
            placeholder="In case our vendor has Question">
        </div>
        <div class="form-group m-4">
          <input class="address-input form-control" name="address" type="text" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" formControlName="user_address" placeholder="Enter your address" (keyup)="changeSearch($event)"
            (keydown.enter)="$event.preventDefault()" autocorrect="off" autocapitalize="off" spellcheck="off" #search
            value="{{outputLocation}}">
        </div>
        <div class="form-group m-4">
          <label for="inputAddress2">Email<span class="required-field">*</span> </label>
          <input type="email" class="form-control" id="inputAddress2" formControlName="mail" placeholder="Email">
          <small [hidden]='email' style="color: red;">Email format is not Correct</small>
        </div>
        <!-- <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                  </div>
                </div> -->
        <!-- <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Check me out
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button> -->
      </div>

      <h1 class="mt-5 ">Payment Method <span class="required-field">*</span></h1>
      <p class="text-muted " style="margin-top: -20px;">All transactions are secured and encrypted</p>
      <div class="col-md-6" style="border: solid lightgray; ">
        <!-- <input type="checkbox"
                  > -->

        <!-- <label  for="strip" style="margin-left: 5%; margin-top: 2%;" >
                    <input  value=0 id="strip" formControlName="payment_option" type="radio" name="payment_option"  (change)=" makePayment(this.offerservice[0]?.service_price,$event)">
                    Credit card</label> <hr style="height:5px;">-->

        <label for="strip" style="margin-left: 5%; margin-bottom: 3%;margin-top:1rem">
          <input (change)="ch()" value=1 type="radio" formControlName="payment_option" name="payment_option">
          Pay by credit card</label>

          <div class="form-container credit m-10">
            <div class="field-container">
              <label for="name">Name</label>
              <input id="name" maxlength="20" type="text"  formControlName="payment_card_name">
            </div>
            <div class="field-container">
              <label for="cardnumber">Card Number</label>
              <input id="cardnumber" type="text" pattern="[0-9]*" inputmode="numeric" formControlName="payment_card_number">
            </div>
            <div class="field-container">
              <label for="expirationdate">Expiration (mm/yy)</label>
              <input id="expirationdate" type="text" pattern="[0-9]*" inputmode="numeric" formControlName="payment_card_expiration">
            </div>
            <div class="field-container">
              <label for="securitycode">Security Code</label>
              <input id="securitycode" type="text" pattern="[0-9]*" inputmode="numeric" formControlName="payment_card_cvv">
            </div>
          </div>

      </div>


      <button [disabled]="this.bookingForm.invalid || this.payment" type="submit" class="btn mt-5"
        style="background-color:#51AFE5 ; font-weight: bold; color: white;">Book me in</button>
    </div>
  </div>




</form>