
.inline-calendar-card {
    width: 300px;
   
  }
  
  
  
  .first{
    display: flex;
    // width: 50%;
    // justify-content: space-between;
    // background-color: #51AFE5;
  
    .time{
      margin: 0% 0% 0% 10%;
      p{
        color: grey; margin-top: 10%;
      }
    }
   
  
  }
  
  .card{
    // position: relative;
    // right: 15%;
    // margin-right: 8%;
    margin-top:5rem;
   overflow: hidden;
      height: 40%;
      display: flex;
  
  }
  
  .required-field {
    color: red;
    margin-left: 5px;
  }
  // .btn{
  //     background-color: #51AFE5;
      
  // }
  
  // .btn:hover{
  //     background-color: blue;
  
  // }
  .container .question{
      color: #51AFE5;
      font-family: "Lucida Console", Courier, monospace;
      // font-family:'Times New Roman', Times, serif;
  
      font-weight: bold;
    
  }
  
  button:hover{
    background-color: blue;
  
  }
  .tag{
      background-color: #51AFE5
    }
  
  nav h1 {
    color: #ffff; 
    font-family: "Lucida Console", Courier, monospace;
    // font-family:'Times New Roman', Times, serif;
     font-weight: bold;  
     font-size: 200%;
  }
  
  
  
  .review-item::ng-deep {
      font-size: small;
      opacity: 0.7;
      display: flex;
      align-items: center;
      mat-icon {
        margin-right: 0.7rem;
        // opacity: 0.5;
      }
  }
  
  ::ng-deep .time .p-dropdown   {
    width:13rem;
  }
  @media only screen and (min-width: 800px) {
  .card {
    width: 50%;
    padding: 15px;
  }
  }
  
  
  .payment-title {
    width: 100%;
    text-align: center;
  }
  
  .field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .field-container {
    position: relative;
  }
  
  .credit {
    padding-left: 10px;
    padding-right:10px;
  }
  
  label {
    padding-bottom: 5px;
    font-size: 13px;
  }
  
  .credit input {
    margin-top: 3px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
  }
  
  .ccicon {
    height: 38px;
    position: absolute;
    right: 6px;
    top: calc(50% - 17px);
    width: 60px;
  }
  
  /* CREDIT CARD IMAGE STYLING */
  .preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }
  
  
  
  #ccsingle {
    position: absolute;
    right: 15px;
    top: 20px;
  }
  
  #ccsingle svg {
    width: 100px;
    max-height: 60px;
  }
  
  .creditcard svg#cardfront,
  .creditcard svg#cardback {
    width: 100%;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
  }
  
  #generatecard{
    cursor: pointer;
    float: right;
    font-size: 12px;
    color: #fff;
    padding: 2px 4px;
    background-color: #909090;
    border-radius: 4px;
    cursor: pointer;
    float:right;
  }
  
  /* CHANGEABLE CARD ELEMENTS */
  .creditcard .lightcolor,
  .creditcard .darkcolor {
    -webkit-transition: fill .5s;
    transition: fill .5s;
  }
  
  .creditcard .lightblue {
    fill: #03A9F4;
  }
  
  .creditcard .lightbluedark {
    fill: #0288D1;
  }
  
  .creditcard .red {
    fill: #ef5350;
  }
  
  .creditcard .reddark {
    fill: #d32f2f;
  }
  
  .creditcard .purple {
    fill: #ab47bc;
  }
  
  .creditcard .purpledark {
    fill: #7b1fa2;
  }
  
  .creditcard .cyan {
    fill: #26c6da;
  }
  
  .creditcard .cyandark {
    fill: #0097a7;
  }
  
  .creditcard .green {
    fill: #66bb6a;
  }
  
  .creditcard .greendark {
    fill: #388e3c;
  }
  
  .creditcard .lime {
    fill: #d4e157;
  }
  
  .creditcard .limedark {
    fill: #afb42b;
  }
  
  .creditcard .yellow {
    fill: #ffeb3b;
  }
  
  .creditcard .yellowdark {
    fill: #f9a825;
  }
  
  .creditcard .orange {
    fill: #ff9800;
  }
  
  .creditcard .orangedark {
    fill: #ef6c00;
  }
  
  .creditcard .grey {
    fill: #bdbdbd;
  }
  
  .creditcard .greydark {
    fill: #616161;
  }
  
  /* FRONT OF CARD */
  #svgname {
    text-transform: uppercase;
  }
  
  #cardfront .st2 {
    fill: #FFFFFF;
  }
  
  #cardfront .st3 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
  }
  
  #cardfront .st4 {
    font-size: 54.7817px;
  }
  
  #cardfront .st5 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
  }
  
  #cardfront .st6 {
    font-size: 33.1112px;
  }
  
  #cardfront .st7 {
    opacity: 0.6;
    fill: #FFFFFF;
  }
  
  #cardfront .st8 {
    font-size: 24px;
  }
  
  #cardfront .st9 {
    font-size: 36.5498px;
  }
  
  #cardfront .st10 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
  }
  
  #cardfront .st11 {
    font-size: 16.1716px;
  }
  
  #cardfront .st12 {
    fill: #4C4C4C;
  }
  
  /* BACK OF CARD */
  #cardback .st0 {
    fill: none;
    stroke: #0F0F0F;
    stroke-miterlimit: 10;
  }
  
  #cardback .st2 {
    fill: #111111;
  }
  
  #cardback .st3 {
    fill: #F2F2F2;
  }
  
  #cardback .st4 {
    fill: #D8D2DB;
  }
  
  #cardback .st5 {
    fill: #C4C4C4;
  }
  
  #cardback .st6 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
  }
  
  #cardback .st7 {
    font-size: 27px;
  }
  
  #cardback .st8 {
    opacity: 0.6;
  }
  
  #cardback .st9 {
    fill: #FFFFFF;
  }
  
  #cardback .st10 {
    font-size: 24px;
  }
  
  #cardback .st11 {
    fill: #EAEAEA;
  }
  
  #cardback .st12 {
    font-family: 'Rock Salt', cursive;
  }
  
  #cardback .st13 {
    font-size: 37.769px;
  }
  
  /* FLIP ANIMATION */
  .container {
    perspective: 1000px;
  }
  
  .creditcard {
    width: 100%;
    max-width: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    cursor: pointer;
  }
  
  .creditcard .front,
  .creditcard .back {
    position: absolute;
    width: 100%;
    max-width: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    color: #47525d;
  }
  
  .creditcard .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .creditcard.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  .form-group .form-control {
    height: 30px;
  }
  .btn-section {
    padding-top: 30px;
  }
  .btn-outline-primary {
    color: var(--rt-primary-color);
    border-color: var(--rt-primary-color);
    &:hover {
      color: #fff;
      background-color: var(--rt-primary-color);
    }
    &:focus {
      box-shadow: 0 0 0 0.25rem rgb(0 193 148 / 40%);
    }
  }
  .uploaded-image-section {
    border: 1px solid var(--rt-primary-color);
    padding-top: 10px;
    margin-bottom: 10px;
    min-height: 300px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    .image-section {
      margin-bottom: 10px;
      position: relative;
      .img-section {
        width: 100%;
        max-height: 250px;
        overflow: hidden;
        text-align: center;
        padding-bottom: 10px;
        img {
          z-index: -1;
          max-height: 200px;
          width: 100%;
          height: 200px;
        }
      }
      .remove-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        .btn {
          width: 100%;
        }
      }
    }
  }
  .file-width{
    width:40%;
  }