<!--=====================================-->
<!--=   Breadcrumb     Start            =-->
<!--=====================================-->

<div class="breadcrumb-wrap breadcrumb-wrap-2">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About Us</li>
      </ol>
    </nav>
  </div>
</div>
<!--=====================================-->
<!--=   About     Start                 =-->
<!--=====================================-->

<section class="about-wrap2">
  <div class="container">
    <div class="row flex-row-reverse flex-lg-row">
      <div class="col-xl-6 col-lg-6">
        <div class="about-img">
          <img src="assets/img/blog/about8.jpg" alt="about" width="746" height="587">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="about-box3 wow fadeInUp" >
          <span class="item-subtitle">About Us</span>
        We're on a Mission to build your go-to platform for seamless ad space booking! We
            understand the importance of
            effective advertising and the impact it can have on your business. Our mission is to simplify the process of
            connecting advertisers
            with prime ad spaces, making it easier for businesses to promote their products and services.
            

        </div>
      </div>

    </div>

  </div>
</section>